<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microsoft Azure and Office 365 Documentation</title>
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="/static/css/print.css" />
    <style type="text/css">
    pre {
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        }
        </style>
</head>
<body>
    <h2>{{ message }}.</h2> 
    <div>
    <p>You will be redirected in <b id="counter">20</b> seconds to {{ location }}</p>
<p><a href={{ location }} >redirect now</a></p></div>
    <script>
        setInterval(function() {
            var b = document.querySelector("#counter");
            var count = b.textContent * 1 - 1;
            b.textContent = count;
            if (count <= 0) {
                window.location.replace("{{ location }}");
            }
        }, 1000);
    </script>
    <h4 hidden={{ noError }}>Error</h4>
    <pre>{{error}}</pre>
    <h4>Data</h4>
    <pre>{{data}}</pre>
</body>
</html>